*, *::after, *::before{
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #e1f2fb;
}

.board {
  display: grid;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  grid-template-columns: auto auto auto;
}

.item{
  border: 3px solid rgba(0, 0, 0, 0.8);
  padding: 50px;
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.item:nth-child(1),.item:nth-child(2),.item:nth-child(3)
{
  border-top: 0;
}

.item:nth-child(3n+1){
  border-left: 0;
}

.item:nth-child(3n+3){
  border-right: 0;
}

.item:nth-child(7),.item:nth-child(8),.item:nth-child(9)
{
  border-bottom: 0;
}

.item:hover {
  border: 1px solid black;
  border-radius: 5%;
}
