*, *::after, *::before{
  box-sizing: border-box;
}


body {
  margin: 0;
  background-color: #e1f2fb;
  font-family: arial;
  font-size: 1.5rem;
}

.board {
  display: grid;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-content: center;
  align-items: center;
  grid-template-columns: auto auto auto;
}

.item{
  border: 3px solid rgba(0, 0, 0, 0.8);
  padding: 40px;
  display: flex;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
}

.item:nth-child(1),.item:nth-child(2),.item:nth-child(3)
{
  border-top: 0;
}

.item:nth-child(3n+1){
  border-left: 0;
}

.item:nth-child(3n){
  border-right: 0;
}

.item:nth-child(7),.item:nth-child(8),.item:nth-child(9)
{
  border-bottom: 0;
}
